
body{
	font-family: Roboto,Arial,Helvetica,sans-serif;
    line-height: normal;
}


p{
	padding: 0;
	margin: 0;
}


.container_pay{
	width: 100%;
	margin-bottom: 100px;
}
.wrap_pay{
	width: 100%;
	padding-top: 20px;
}
.pay_title{
	width: 100%;
}
.pay_title h4{
	font-size: 16px;
}
.pay_box{
	display: flex;
    width: 100%;
}
.pay_box_right{
	width: 70%;
    display: flex;
    padding: 15px;
	background: #fff;
	height: max-content;
}

.pay_box_right:before{
	content: "";
	display: table;
}

.pay_box_right:after{
	content: "";
	display: table;
}
.pay_image{
	display: inline-block;
    width: 15%;
}
.pay_image img{
	max-width: 100%;
}

.pay_content{
	display: flex;
}
.pay_content p{
	padding: 5px 0;
}
.pay_content>a:first-child{
	font-size: 15px;
	color: #333;
	text-decoration: none;
}
.pay_content>a:first-child:hover{
	color:  #189eff;
}

.box_info_product{
	padding: 0 25px 0 15px;
}


.remove_product{
	margin-right: 20px;
}



.monney_box{
	display: inline-block;
	margin-right: 25px;
}

.price{
	font-size: 16px;
	font-weight: 600;
}
.price2{
	font-size: 12px;
	display: flex;
}
.first{
	text-decoration: line-through;
    color: #a2a2a2;
}
.sale{
	font-weight: 600;
	margin-left: 10px;
	position: relative;
}

.sale:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 15px;
	background: #787878;
	left: -6px;
    top: 1px;
}
.qantity{
	display: inline-block;
	width: 14%;
}

.pay_box_left{
	width: 30%;
	display: inline-block;
	padding-left: 20px;
}
.top_box{
	display: inline-block;
	width: 100%;
}
.box_style{
	display: block;
	width: 100%;
	background: #fff;
	padding: 17px 20px 30px 19px;
	border-bottom: 1px solid #ececec;
	font-size: 14px;
	color: #333;
}
.list_info_price strong{
	position: absolute;
    right: 90px;
    font-weight: 500;
}
.total2{
	display: flex;
}
.amount{
	position: absolute;
    right: 90px;
    text-align: right;
    display: inline-block;
}
.amount>p>strong{
	font-size: 22px;
	color: #fe3834;
	font-weight: 500;
}
.btn_order{
	margin-top: 10px;
	font-size: 15px;
}

.box_style_2{
	display: block;
	width: 100%;
	background: #fff;
	padding: 20px 10px 10px 10px;
	font-size: 16px;
	text-align: center;
	color: #333;
	border-bottom: 1px solid #ececec;
}

.bottom_box{
	margin-top: 20px;
}