
//COLOR

$color-white:#fff;
$color-f4f4f4:#f4f4f4;
$color-white-light2:#f1f1f1;
$color-E0E0E0:#E0E0E0;
$color-F5F5F5:#F5F5F5;
$color-eee:#eee;
$color-F5EFEE:#F5EFEE;
$color-dad1d1:#dad1d1;
$color-d2d1d1: #d2d1d1;
$color-e0dfdf:#e0dfdf;
$color-F1EBEA:#F1EBEA;
$color-EFECEC:#EFECEC;
$color-blue-light:#355c7d;
$color-border1: #E1E0E0;
$color-dark:#000;
$color-dark-light: #333;
$color-red:#FF0000;
$color-ff1a1a: #ff1a1a;
$color-fd2c2d:#fd2c2d;
$color-E93F12:#E93F12;
$color-orange:#ff6600;
$color-ff751a:#ff751a;
$color-orange-light:#ffcc99;
$color-b0b0b1:#b0b0b1;


